{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block start %}

<nav class="navbar subnavbar-top hidden-xs">
  <ul class="nav nav-pills submenu-top">
    <li role="presentation" class="right rightmargin"><button class="btn btn-default" style="height:43px;">Comprar</button></li>
    <li role="presentation" class="right rightmargin"><a href="#">Início</a></li>
    <li role="presentation" class="right"><a href="#">Internet das Coisas</a></li>
    <li role="presentation" class="right"><a href="#">Tecnologia EOS</a></li>
    <li role="presentation" class="right"><a href="#">Automação</a></li>
    <li role="presentation" class="right"><a href="#">Sensores</a></li>
    <li role="presentation" class="left leftmargin"><img height="43" src="{% static 'svg/hublogo.svg' %}"/></li><br>
  </ul>
</nav>

{% endblock %}

{% block main %}

{% endblock %}
