{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <img src="{% static 'svg/eostechnology.svg' %}" class="img-responsive"/>
      <h2 class="highlight nomargin">Todos vem equipados com a tecnologia EOS, desenvolvida pela Efforia,
      que garante diferenciais que tornam nossos nanocomputadores singulares.</h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/cloud.svg' %}" class="img-responsive"/>
      <h1>Cloud Computing</h1>
      <p>Possuindo recursos próprios para hospedar aplicativos web e serviços de
      nuvem, o sistema pode usufruir de serviços da Efforia para a conexão com a
      Internet, que permite que seu HUB possa ser acessado remotamente ou que possa
      consumir serviços online, como e onde quiser.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/compute.svg' %}" class="img-responsive"/>
      <h1>Soluções Integradas</h1>
      <p>O EOS é um sistema operacional completo, com recursos de interface gráfica,
      processamento de dados, e conexão com rede. Graças a esse diferencial, é possível
      construir soluções robustas e versáteis, sempre de acordo com a demanda que
      você está precisando para você.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/beta.svg' %}" class="img-responsive"/>
      <h1>Internet das Coisas</h1>
      <p>A tecnologia integrada ao seu HUB garante o máximo de potencial para o
      seu próximo projeto de automação, garantindo total conexão à Internet para
      os seus sensores e atuadores. Isso possibilita um tempo de construção menor
      e um número muito maior de possibilidades.</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign nomargin">
        <h2>Torrent</h2>
        <p>Faça downloads e uploads com este serviço de forma ilimitada para o seu
        HUB ou para qualquer armazenamento removível, por meio da tecnologia ponto
        a ponto BitTorrent.</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/torrent.svg' %}" class="img-responsive"/>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/sync.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h2>Sync</h2>
        <p>Sincronize quantos arquivos quiser, do tamanho e jeito que achar melhor.
        Você pode compartilhar arquivos entre o seu HUB e qualquer outro dispositivo
        com a tecnologia BitTorrent Sync.</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/store.svg' %}" class="img-responsive"/>
        <h2>Dados compartilháveis</h2>
        <p>O compartilhamento de arquivos na sua rede ficou muito mais fácil. Você
        pluga um pendrive, HD externo ou cartão de memória no HUB e pronto! Seus
        dados começam a ser compartilhados automaticamente na sua rede.</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/hotspot.svg' %}" class="img-responsive"/>
        <h2>Ponto de acesso sem fio</h2>
        <p>Está na praia ou no campo e não tem rede sem fio? Sem problemas, o EOS
        cuida disso para você. Você consegue criar um ponto de acesso para que todos
        possam compartilhar conteúdos entre si e para o seu HUB.</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/sound.svg' %}" class="img-responsive"/>
        <h2>Transmissão sem fio de som</h2>
        <p>A tecnologia presente no HUB dá a possibilidade de transmitir músicas
        e podcasts e streaming de música, de seu tablet, laptop ou smartphone para
        o HUB e vice-versa, de maneira fácil e rápida.</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eosplay.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h1>Experiência surpreendente</h1>
        <p>Surpreenda-se com a experiência audiovisual que o EOS te proporciona.
        Reproduza filmes em Full HD a partir de qualquer mídia que imaginar: externa,
        pendrive, smartphone, tablet, entre muitas outras opções, tudo sem fio.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="col-md-8 col-sm-8 nomargin ralign">
        <h1>Carregue para onde quiser</h1>
        <p>Cabendo na palma de sua mão, o HUB é um dispositivo muito conveniente
        para carregar para todos os lados. Contatabém com suporte a tecnologia
        USB e HDMI, você consegue ligar vários periféricos a ele, como controles
        de jogo, teclados, pendrives e televisões.</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/box.svg' %}" class="img-responsive"/>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eosretro.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h1>Diversão ilimitada</h1>
        <p>O HUB possui uma extensa compatibilidade com os mais diversos sistemas
        de entretenimento, do Super Nintendo ao Playstation, tudo em uma pequena
        embalagem, sem contar com a gama de jogos disponíveis pelo HUB Pro através
        da plataforma Android.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 nomargin ralign">
        <h1>Baterias Inclusas</h1>
        <p>O HUB, equipado com a tecnologia EOS, consegue dispor o nanocomputador
        mais versátil para você através do sistema de troca de cartões. Desde um
        reprodutor multimídia até um computador multiuso, o sistema mostra toda
        a sua robustez.</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eos.svg' %}" class="img-responsive"/>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
      <img src="{% static 'svg/applications.svg' %}" width="100%" class="img-responsive"/>
      <h2>Aplicações</h2>
      <p>A tecnologia exclusiva EOS, desenvolvida para os nanocomputadores da Efforia,
         garante a versatilidade a partir de um sistema de troca de cartões. Os
         programas desenvolvidos para a plataforma ficam auto-contidos em um
         cartão de memória, denominado de EOS Memory Card (EMC), compostos de
         um sistema básico específico para cada nanocomputador, um sistema intermediário
         idêntico para todos os nanocomputadores, e por fim, o aplicativo propriamente dito.</p>
    </div>
  </div>
</div>

{% endblock %}
