{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <img src="{% static 'svg/eostechnology.svg' %}" class="img-responsive"/>
      <h2 class="highlight">Todos vem equipados com a tecnologia EOS, desenvolvida pela Efforia,
        que garante diferenciais que tornam nossos nanocomputadores singulares.</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/cloud.svg' %}" class="img-responsive"/>
      <h1>Para o infinito e além</h1>
      <p>HUBs com o cartão EOS Cloud podem usufruir de um serviço chamado Efforia
        Cloud Service. Este serviço permite que seu HUB possa ser acessado remotamente
        pela internet, como e onde quiser.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/applications.svg' %}" class="img-responsive"/>
      <h1>Um nanocomputador, múltiplas possibilidades</h1>
      <p>Graças a este diferencial, nossos nanocomputadores possuem diversas
        funcionalidades, todas elas divididas em cartões EMCs. Com isso, podemos
        utilizar um cartão para que o dispositivo funcione como um computador pessoal,
        dispondo de teclado, mouse e monitor, outro cartão para mídia center, conectado
        a uma televisão e a um controle sem fio, entre muitas outras possibilidades.
        Você escolhe como seu aparelho irá operar.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/eos.svg' %}" class="img-responsive"/>
      <h1>Com baterias inclusas</h1>
      <p>O HUB, equipado com a tecnologia EOS, consegue dispor o nanocomputador
        mais versátil para você através do sistema de troca de cartões. Desde um
        reprodutor multimídia até um computador multiuso, o sistema mostra toda
        a sua robustez.</p><br>
    </div>
  </div>
</div>
<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/eosplay.svg' %}" class="img-responsive"/>
      <h1>Experiência surpreendente</h1>
      <p>Surpreenda-se com a experiência audiovisual que o HUB com EOS Play te
        proporciona. Reproduza filmes em até Full HD a partir de qualquer mídia
        que imaginar: interna, externa, pendrive, smartphone, tablet, entre muitas
        outras opções, tudo sem fio.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/box.svg' %}" class="img-responsive"/>
      <h1>Carregue para onde quiser</h1>
      <p>Cabendo na palma de sua mão, o HUB é um dispositivo muito conveniente
        para carregar para todos os lados. Contatabém com suporte a tecnologia
        USB e HDMI, você consegue ligar vários periféricos a ele, como controles
        de jogo, teclados, pendrives e televisões.</p><br>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/eosretro.svg' %}" class="img-responsive"/>
      <h1>Diversão ilimitada</h1>
      <p>O HUB possui uma extensa compatibilidade com os mais diversos sistemas
        de entretenimento, do Super Nintendo ao Playstation, tudo em uma pequena
        embalagem, sem contar com a gama de jogos disponíveis pelo HUB Pro através
        da plataforma Android.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static "svg/eosbeta.svg" %}" class="img-responsive"/>
      <h1>Para os criativos e curiosos</h1>
      <p>Com o cartão EOS Beta para HUB e HUB Pro, você será capaz de explorar
        muito mais o potencial de seu aparelho, podendo utilizá-lo para diversas
        outras funções como a criação de programas e aplicações educacionais.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/sound.svg' %}" class="img-responsive"/>
      <h2>Sound</h2>
      <p>O serviço Sound dá a possibilidade de transmitir músicas e podcasts,
        de seu tablet, laptop ou smartphone para o HUB e vice-versa, de maneira
        fácil e rápida.</p>
    </div>
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/torrent.svg' %}" class="img-responsive"/>
      <h2>Torrent</h2>
      <p>Faça downloads e uploads com este serviço de forma ilimitada para o seu
        HUB ou para qualquer armazenamento removível, por meio da tecnologia BitTorrent.</p>
    </div>
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/store.svg' %}" class="img-responsive"/>
      <h2>Store</h2>
      <p>O compartilhamento de arquivos na sua rede ficou muito mais fácil. Com o
        serviço Store, você pluga um pendrive, HD externo ou cartão de memória no
        HUB e pronto! Seus dados começam a ser compartilhados automaticamente na
        sua rede de sua casa ou trabalho.&nbsp;</p>
    </div>
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/hotspot.svg' %}" class="img-responsive"/>
      <h2>Hotspot</h2>
      <p>Está na praia ou no campo e não tem rede sem fio? Sem problemas, o serviço
        Hotspot cuida disso para você. Você consegue criar um ponto de acesso para
        que todos possam compartilhar conteúdos entre si e para o seu HUB.</p>
    </div>
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/sync.svg' %}" class="img-responsive"/>
      <h2>Sync</h2>
      <p>Sincronize quantos arquivos quiser, do tamanho e jeito que achar melhor.
        Com o serviço Sync, você pode compartilhar arquivos entre o seu HUB, tablet,
        smartphone e qualquer outro dispositivo com a tecnologia BitTorrent Sync.</p>
    </div>
    <div class="col-md-2 col-sm-6 text-center">
      <img src="{% static 'svg/sync.svg' %}" class="img-responsive"/>
      <h2>Aplicações</h2>
      <p>A tecnologia exclusiva EOS, desenvolvida para os nanocomputadores da Efforia,
         garante a versatilidade a partir de um sistema de troca de cartões. Os
         programas desenvolvidos para a plataforma ficam auto-contidos em um
         cartão de memória, denominado de EOS Memory Card (EMC), compostos de
         um sistema básico específico para cada nanocomputador, um sistema intermediário
         idêntico para todos os nanocomputadores, e por fim, o aplicativo propriamente dito.</p>
    </div>
  </div>
</div>

{% endblock %}
