{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubabg.png' %}") center center; */
  background: url("{% static 'img/orange-nebula.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<div class="jumbotron background nobottom">
  <div class="transparent-white overlay middle">
    <div class="container">
      <img class="hub-size" src="{% static 'img/huba.png' %}"/><br>
      <h2 class="jumbo-highlight black">UM UNIVERSO <br>DE GRANDES POSSIBILIDADES.</h2><br>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm nooverlay">
  <ul class="nav nav-pills submenu right">
    <li class="rightmargin">
      <button class="btn btn-info hub-btn">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hub' %}">{% trans "Home" %}</a>
    </li>
    {% include "hub/nav.html" %}
    <li class="left leftmargin">
      <img class="hub-logo" src="{% static 'svg/hublogo.svg' %}"/>
    </li>
    <br>
  </ul>
</nav>

{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 spaces-md">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <img src="{% static 'svg/hubsimple.svg' %}" class="img-responsive"/></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="highlight">{% blocktrans %} O HUB é a solução eficiente que você esperava em
        praticidade e facilidade em automação doméstica ou corporativa. {% endblocktrans %}</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/wirelesssimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Sem Fios</h1>
          <h3>Adeus embaraço</h3>
          <p>O sistema de conexão sem fio do HUB reduz drasticamente a necessidade
            de ter fios circulando pela sua casa ou empresa. Muitas vezes necessitará
            apenas da tomada e já estará pronto para operar.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/versatilesimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Versátil</h1>
          <h3>Baterias inclusas</h3>
          <p>Graças a tecnologia EOS que habilita o uso multifuncional do HUB,
            você tem um equipamento completo em suas mãos, podendo servir de
            computador de nuvem, módulo de IoT e até centro de multimídia.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/economicsimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Eficiente</h1>
          <h3>Consome pouco</h3>
          <p>Comprometido com a natureza, garantimos uma ótima eficiência energética
            ao consumir apenas 5W de potência. Isso dá a possibilidade de ligá-lo em
            televisores, tomadas de celulares e até baterias portáteis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/anythingsimple.svg' %}" class="box img-responsive"/>
      <div class="text-center">
        <h1>Flexível</h1>
        <h3>Funcional em diversas maneiras.</h3>
        <p>Pensado completamente sobre uma arquitetura modular, o que permite ser
          conectado de forma independente a dispositivos, o que permite utilizá-lo
          com apenas um cabo de energia se preciso.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/colouredsimple.svg' %}" class="box img-responsive"/>
      <div class="text-center">
        <h1>Customizável</h1>
        <h3>Escolha o HUB com a sua cara.</h3>
        <p>Nossos nanocomputadores podem sair de fábrica com uma série de customizações
          como cores laterais do case e uma gama de acessórios como pendrives e cabos
          adicionais, todos de acordo com o seu gosto.</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/hublateralsimple.svg' %}" class="img-responsive">
      <div class="text-center">
        <h1>Portátil</h1>
        <h3>Tudo na palma de sua mão.</h3>
        <p>Graças ao tamanho compacto do HUB e à tecnologia EOS, o seu próximo
          sistema de automação poderá ser muito menor do que imagina, e o seu
          controle, ao alcance de um smartphone.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/combinatedsimple.svg' %}" class="img-responsive"/>
      <div class="text-center">
        <h1>Integrável</h1>
        <h3>Conteúdo em qualquer lugar.</h3>
        <p>Para automação audiovisual, o HUB permite concentrar e distribuir seu
           conteúdo multimídia para toda a sua empresa ou lar, garantindo conforto
           e facilidade para ver vídeos, músicas e imagens.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/televisionsimple.svg' %}" class="img-responsive">
      <div class="text-center">
        <h1>Incrível</h1>
        <h3>Ótima experiência audiovisual.</h3>
        <p>Com o potente processador gráfico instalado no coração do HUB, é possível
           reproduzir conteúdos em full HD e imagens de alta resolução, assim como
           processar gráficos 3D em alta qualidade.</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <img src="{% static 'img/hub-a.png' %}" class="img-responsive third-width visible-xs"/>
    <div class="middle">
      <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 hidden-xs">
        <img src="{% static 'img/hub-a.png' %}" class="img-responsive third-width"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="centered">Especificações</h1>
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-01.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-03.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-05.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-09.svg' %}">
      </div>
    </div>
  </div>
</div>

{% endblock %}
