{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubabg.png' %}") center center; */
  background: url("{% static 'img/orange-nebula.jpg' %}") center center;
  background-size: cover;
}

.highlight {
  margin-top:50px;
  line-height:1.5em;
  text-align:center;
}

.full-width { width:100% }

.third-width { width:70%; margin-left:15% }

</style>

{% endblock %}

{% block start %}

<div class="jumbotron background" style="margin-bottom:0px;">
  <div class="transparent-white overlay middle">
    <div class="container">
      <img style="height:21em" src="{% static 'img/huba.png' %}"/><br>
      <h2 style="font-size:3em" class="black">UM UNIVERSO <br>DE GRANDES POSSIBILIDADES.</h2><br>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm" style="margin:0px; min-height:0px">
  <ul class="nav nav-pills submenu right">
    <li class="rightmargin">
      <button class="btn btn-info" style="height:43px;">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hub' %}">{% trans "Home" %}</a>
    </li>
    {% include "hub/nav.html" %}
    <li class="left leftmargin">
      <img height="43" src="{% static 'svg/hublogo.svg' %}"/>
    </li>
    <br>
  </ul>
</nav>

{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 spaces-md">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <img src="{% static 'svg/hubsimple.svg' %}" class="img-responsive"/></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="highlight">O HUB é a solução eficiente que você esperava em
        praticidade e facilidade em automação doméstica ou corporativa.</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/wirelesssimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Sem Fios</h1>
          <h3>Adeus embaraço</h3>
          <p>O sistema de conexão sem fio do HUB reduz drasticamente a necessidade
            de ter fios circulando pela sua casa ou empresa. Muitas vezes necessitará
            apenas da tomada ligada e seu HUB estará disponível para o que precisar.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/versatilesimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Versátil</h1>
          <h3>Baterias inclusas</h3>
          <p>Graças a tecnologia EOS que habilita o uso multifuncional do HUB,
            você tem um equipamento completo em suas mãos, podendo servir de
            mídia center, servidor e </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/economicsimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>Eficiente</h1>
          <h3>Utiliza baixa energia</h3>
          <p>Comprometido com a natureza, garantimos uma ótima eficiência energética
            ao consumir apenas 5W de potência. Isso dá a possibilidade de ligá-lo em
            televisores, tomadas de celulares e até baterias portáteis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container spaces-sm">
  <div class="row spaces-md">
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/combinatedsimple.svg' %}" class="box" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Sem fios</h1>
        <h3>Adeus embaraço</h3>
        <p></p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/colouredsimple.svg' %}" class="box" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Customizável</h1>
        <h3>Escolha como você quer</h3>
      </div>
    </div>
  </div>
  <div class="row spaces-md">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/hublateralsimple.svg' %}" class="box img-responsive">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Portátil</h1>
        <h3>Carregue para onde quiser</h3>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/anythingsimple.svg' %}" class="box img-responsive">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Versátil</h1>
        <h3>Baterias inclusas</h3>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/televisionsimple.svg' %}" class="box img-responsive">
      <div class="text-center" style="padding:0px 15px;">
        <h1>Poderoso</h1>
        <h3 class="text-center">Tudo na palma de sua mão</h3>
      </div>
    </div>
  </div>
</div>
<div class="container spaces-sm">
  <div class="row spaces-md">
    <img src="{% static 'img/huba.png' %}" class="img-responsive third-width visible-xs"/>
    <div class="middle">
      <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
        <img src="{% static 'img/huba.png' %}" class="img-responsive third-width"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="centered">Especificações</h1>
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-01.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-03.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-05.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}">
      </div>
    </div>
  </div>
</div>

{% endblock %}
