{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title" style="text-align:center;">Internet das Coisas</h1>
      <p>Com o nanocomputador HUB equipado com a tecnologia exclusiva EOS, você consegue tornar os dispositivos da sua casa ou trabalho inteligentes.</p>
      <h1>Aparelhos que se tornam inteligentes com o HUB</h1>
      <p><br><br></p>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-01.svg" width="100%">
      <h2>Televisão</h2>
      <div style="padding: 0px 15px;">
        <p>Ao ligá-lo a uma TV, você consegue reproduzir vídeos, músicas, e fotos do HUB e de outros dispositivos via sem fio, além de controlar sua coleção. O controle remoto também consegue interagir com o aparelho, dando comandos de navegação e reprodução.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-02.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Som</h2>
        <p>Quando o HUB é conectado a este dispositivo, ele possibilita, através de sua tecnologia de conexão sem fio, a transmissão de músicas e podcasts de seu smartphone, tablet ou laptop para o seu sistema de som (mini-system, micro-system ou outras caixas de som). &nbsp;</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-03.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>HD</h2>
        <p>Um disco rígido externo conectado a um HUB, dá a possibilidade de compartilhar os seus arquivos para a rede, de forma simples e prática, para Mac, PC e outro HUB, bem como para dispositivos móveis.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-04.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Projetor</h2>
        <p>Realize as suas apresentações sem fio com seu tablet, smartphone ou laptop a partir da transmissão de slides em fotos ou vídeos, através de um HUB conectado ao projetor.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-12 text-center" style="padding: 0px;"><img src="/static/svg/devices-05.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Impressora</h2>
        <p>Conecte sua impressora comum cabeada a um HUB e desfrute do compartilhamento automático sem fio para toda a sua rede interna, simples e prático.</p>
        <p><br><br></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Internet das Coisas </h1>
      <p>A grande especialidade e potencial de nossos nanocomputadores na Efforia está na Internet das Coisas (IoT), em tornar outros equipamentos de sua casa ou trabalho inteligentes. Isso se dá por meio de diversos projetos que desenvolvemos de forma a interagir os mais diversos eletroeletrônicos e eletrodomésticos com a Internet. Para isso desenvolvemos o cartão EMC Beta, do qual possui softwares para criar, aprender e ensinar novas tecnologias com a tecnologia exclusiva EOS desenvolvida pela Efforia.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/labs.svg' %}" class="box img-responsive" style="width:100%">
      <h2>A melhor escolha para escolas e laboratórios</h2>
      <p>Contando com um bom acervo de aplicativos nas áreas de Matemática, Lógica, Programação e Eletrônica, mais aplicativos de navegação Web, os nanocomputadores com Beta tornam-se uma ótima opção para sua escola ou laboratório. Temos um conjunto de outros programas que podem ser instalados conforme a demanda que precisar. Consulte-nos para que possamos ver a melhor solução para o seu laboratório de informática ou eletrônica.</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/hubprojectsimple.svg' %}" class="box img-responsive" style="width:100%">
      <h2>Projetos especiais para a sua demanda</h2>
      <p>Está precisando automatizar algo e nossas soluções atuais ainda não encaixam para sua demanda? Não se preocupe, a Efforia por meio da tecnologia presente no EMC Beta garante a criação de projetos especiais de acordo com o que você está precisando. Desde uma automação de micro-cervejaria até a de fresadoras CNCs, a Efforia vai até o seu estabelecimento, avalia sua necessidade, e realiza um projeto diferenciado para o seu negócio. Contate-nos para saber mais.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
