{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Sensores para o HUB</h1>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 spaces-sm">
        <img src="{% static 'svg/devices-04.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-12">
        <h2 class="highlight">Graças à tecnologia de barramento presente em nossos
        nanocomputadores, é possível acrescentar uma série de sensores para o HUB
        de modo a fechar o sistema de automação, complementando o seu próximo projeto
        de IoT.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>Temperatura e Umidade</h2>
        <p>Com o monitoramento de temperatura, o HUB é capaz de atuar no ambiente
        emitindo avisos de ultrapassagem de limites e o controlar unidades de
        condicionamento de ar para refrigerar o ambiente.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-01.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-02.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>Distância e presença</h2>
        <p>Através do sensor de presença e distância de pessoas e/ou objetos em
        um ambiente, é possível automatizar luzes e acionar avisos e eventos pertinentes
        para cada projeto, podendo ser muito útil para a segurança em alarmes.</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>Presença de gás</h2>
        <p>O controle de gás por um determinado fluxo pode ser um sensor adicional
        de grande utilidade para indústrias que utilizam este ativo, e possibilitar
        a automatização de válvulas de escape em uma micro-cervejaria, por exemplo.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-03.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-04.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>Presença de água</h2>
        <p>Tal como a presença de gás, permite o monitoramento e controle de válvulas
        da água, que, assim como o outro, o processo de automatização pode trazer
        maior eficiência no fluxo de indústrias que fazem uso desse ativo.</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>Câmera</h2>
        <p>Ótimo recurso especialmente para a área da segurança, o sensor de imagem
        permite a captura de fotografias e filmagens de determinados ambientes,
        podendo ser usado para diversos fins de automação.</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-05.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/devices-01.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>Eletricidade</h2>
        <p>Através de sensores e atuadores adicionais de eletricidade, é possível
        obter todo o controle de chaves de luz e equipamentos bem na palma de sua
        mão, por meio de comandos enviados direto de um smartphone ou tablet.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
