{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="">
  <script type="text/javascript"> $('#container').removeClass('container-fluid'); </script>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title" style="text-align:center;">Para que serve </h1>
      <p>Com o nanocomputador HUB equipado com a tecnologia exclusiva EOS, você consegue tornar os dispositivos da sua casa ou trabalho inteligentes.</p>
      <h1>Aparelhos que se tornam inteligentes com o HUB</h1>
      <p><br><br></p>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-01.svg" width="100%">
      <h2>Televisão</h2>
      <div style="padding: 0px 15px;">
        <p>Ao ligá-lo a uma TV, você consegue reproduzir vídeos, músicas, e fotos do HUB e de outros dispositivos via sem fio, além de controlar sua coleção. O controle remoto também consegue interagir com o aparelho, dando comandos de navegação e reprodução.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-02.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Som</h2>
        <p>Quando o HUB é conectado a este dispositivo, ele possibilita, através de sua tecnologia de conexão sem fio, a transmissão de músicas e podcasts de seu smartphone, tablet ou laptop para o seu sistema de som (mini-system, micro-system ou outras caixas de som). &nbsp;</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-03.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>HD</h2>
        <p>Um disco rígido externo conectado a um HUB, dá a possibilidade de compartilhar os seus arquivos para a rede, de forma simples e prática, para Mac, PC e outro HUB, bem como para dispositivos móveis.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-04.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Projetor</h2>
        <p>Realize as suas apresentações sem fio com seu tablet, smartphone ou laptop a partir da transmissão de slides em fotos ou vídeos, através de um HUB conectado ao projetor.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-12 text-center" style="padding: 0px;"><img src="/static/svg/devices-05.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Impressora</h2>
        <p>Conecte sua impressora comum cabeada a um HUB e desfrute do compartilhamento automático sem fio para toda a sua rede interna, simples e prático.</p>
        <p><br><br></p>
      </div>
    </div>
  </div>
  <p><br></p>
</div>

{% endblock %}
