{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title" style="text-align:center;"> Dispositivos </h1>
      <h1>Veja quais aparelhos você pode ligar ao HUB</h1>
    </div>
    <div class="col-md-6 text-center"><img src="/static/svg/laptop.svg" width="90%">
      <h2>Computador</h2>
      <p>Com o computador, é possível copiar arquivos para o HUB através de uma rede, seja ela com fio ou sem fio.</p>
    </div>
    <div class="col-md-6 text-center"><img src="/static/svg/smartphone.svg" width="90%">
      <h2>Smartphone</h2>
      <p>Dispositivo mais recomendado para transmitir músicas, via EOS ou AirPlay. Também serve de controle remoto para o HUB através de aplicativos encontrados nas Appstores.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 text-center"><img src="/static/svg/tablet.svg" width="90%">
      <h2>Tablet</h2>
      <p>Dispositivo mais recomendado para transmitir vídeos, via EOS ou AirPlay. Também possui aplicativos disponíveis para o controle do HUB.</p>
    </div>
    <div class="col-md-6 text-center"><img src="/static/svg/router.svg" width="90%">
      <h2>Roteador</h2>
      <p>Permite que o HUB converse com todos os outros dispositivos ligados ao roteador, sejam eles computadores, players (DVD e Blu-Ray), ou dispositivos móveis (smartphones e tablets)</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 text-center"><img src="/static/svg/hubs.svg" width="90%">
      <h2>Outro HUB</h2>
      <p>Via tecnologia exclusiva EOS, você pode enviar ou receber conteúdo de arquivos e multimídia entre HUBs.</p>
    </div>
    <div class="col-md-6 text-center"><img src="/static/svg/peripherals.svg" width="90%">
      <h2>Periféricos</h2>
      <p>Boa parte de mouses, teclados e controles de jogo que você encontra hoje no mercado conseguem interagir com a tecnologia EOS. Recomendamos utilizar a guia de documentação e nossa loja virtual para adquirir acessórios compatíveis com o HUB.</p>
    </div>
  </div>
  <script type="text/javascript"> $('#container').removeClass('container-fluid'); </script>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title" style="text-align:center;">Para que serve </h1>
      <p>Com o nanocomputador HUB equipado com a tecnologia exclusiva EOS, você consegue tornar os dispositivos da sua casa ou trabalho inteligentes.</p>
      <h1>Aparelhos que se tornam inteligentes com o HUB</h1>
      <p><br><br></p>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-01.svg" width="100%">
      <h2>Televisão</h2>
      <div style="padding: 0px 15px;">
        <p>Ao ligá-lo a uma TV, você consegue reproduzir vídeos, músicas, e fotos do HUB e de outros dispositivos via sem fio, além de controlar sua coleção. O controle remoto também consegue interagir com o aparelho, dando comandos de navegação e reprodução.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-02.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Som</h2>
        <p>Quando o HUB é conectado a este dispositivo, ele possibilita, através de sua tecnologia de conexão sem fio, a transmissão de músicas e podcasts de seu smartphone, tablet ou laptop para o seu sistema de som (mini-system, micro-system ou outras caixas de som). &nbsp;</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-03.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>HD</h2>
        <p>Um disco rígido externo conectado a um HUB, dá a possibilidade de compartilhar os seus arquivos para a rede, de forma simples e prática, para Mac, PC e outro HUB, bem como para dispositivos móveis.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding: 0px;"><img src="/static/svg/devices-04.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Projetor</h2>
        <p>Realize as suas apresentações sem fio com seu tablet, smartphone ou laptop a partir da transmissão de slides em fotos ou vídeos, através de um HUB conectado ao projetor.</p>
        <p><br><br></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-12 text-center" style="padding: 0px;"><img src="/static/svg/devices-05.svg" width="100%">
      <div style="padding: 0px 15px;">
        <h2>Impressora</h2>
        <p>Conecte sua impressora comum cabeada a um HUB e desfrute do compartilhamento automático sem fio para toda a sua rede interna, simples e prático.</p>
        <p><br><br></p>
      </div>
    </div>
  </div>
  <p><br></p>
</div>

{% endblock %}
