{% load shop_tags pages_tags mezzanine_tags i18n future staticfiles %}

<li class="menuitem"><a class="black" href="{% url 'old_account_redirect' %}">{% trans "My Account" %}</a></li>
<li class="menuitem"><a class="black" href="{% url 'shop_cart' %}">{% trans "My Bag" %}</a></li>
<li class="menuitem"><a class="black" href="{% url 'order_history' %}">{% trans "My Orders" %}</a></li>
<li class="menuitem"><a class="black" href="{% url 'profile_update' %}">{% trans "Profile" %}</a></li>
<li class="menuitem"><a class="black" href="{% url 'shop_wishlist' %}">{% trans "Wishlist" %}</a></li>
