{% load i18n staticfiles %}

<link rel="stylesheet" href="{% static "css/footer.css" %}">

<div class="nav-footer">
  <ul class="list list-unstyled white">
    <li><h2><a href="{% url 'hub' %}">{% trans "HUB" %}</a></h2></li>
    {% include "hub/nav.html" %}
  </ul>
  <ul class="list list-unstyled white">
    <li><h2><a href="{% url 'hubpro' %}">{% trans "HUB Pro" %}</a></h2></li>
    {% include "hubpro/nav.html" %}
  </ul>
  <ul class="list list-unstyled white">
    <li><h2><a href="{% url 'support' %}">{% trans "Services" %}</a></h2></li>
    {% include "services/nav.html" %}
  </ul>
  <ul class="list list-unstyled white">
    <li><h2><a href="{% url 'about' %}">{% trans "Help" %}</a></h2></li>
    {% include "help/nav.html" %}
  </ul>
</div>
