{% load i18n staticfiles %}

<div class="nav-footer">
  <ul class="list-unstyled">
    <li><a href="{% url 'hub' %}">{% trans "HUB" %}</a></li>
    <li><a href="{% url 'howitworks' %}">Como funciona</a></li>
    <li><a href="{% url 'whatisitfor' %}">Para que serve</a></li>
    <li><a href="{% url 'devices' %}">Dispositivos</a></li>
    <li><a href="{% url 'apps' %}">Aplicativos</a></li>
  </ul>
  <ul class="list-unstyled">
    <li><a href="{% url 'uses' %}">{% trans "Applications" %}</a></li>
    <li><a href="{% url 'personalcomputing' %}">Computador Pessoal</a></li>
    <li><a href="{% url 'internetofthings' %}">Internet das Coisas</a></li>
    <li><a href="{% url 'mediacenter' %}">Mídia Center</a></li>
    <li><a href="{% url 'videogame' %}">Vídeo Game</a></li>
    <li><a href="{% url 'server' %}">Servidor</a></li>
  </ul>
  <ul class="list-unstyled">
    <li><a href="{% url 'support' %}">{% trans "Support" %}</a></li>
    <li><a href="{% url 'documentation' %}">Documentação</a></li>
    <li><a href="{% url 'developer' %}">Desenvolvedor</a></li>
    <li><a href="{% url 'services' %}">Serviços</a></li>
    <li><a href="{% url 'warranty' %}">Garantia</a></li>
  </ul>
  <ul class="list-unstyled">
    <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
    <li><a href="{% url 'opensource' %}">Código Aberto</a></li>
    <li><a href="{% url 'localization' %}">Localização</a></li>
    <li><a href="{% url 'partners' %}">Parceiros</a></li>
  </ul>
  <ul class="list-unstyled">
    <li><a href="/shop/">{% trans "Shop" %}</a></li>
    <li><a href="/shop/hub/">HUB</a></li>
    <li><a href="/shop/emc/">EMC</a></li>
    <li><a href="/shop/cabos/">Cabos</a></li>
    <li><a href="/shop/acessorios/">Acessórios</a></li>
    <li><a href="{% url 'volumes' %}">Volumes</a></li>
  </ul>
</div>
