Django==1.9.6
Mezzanine==4.1.0
Cartridge==0.11.0
Pillow==3.2.0
dj-static==0.0.6
django-crispy-forms==1.6.0
django-feedly==0.6.4
django-pure-pagination==0.3.0
django-ship==0.2.2
django-social-auth==0.7.28
django-socialize==0.5.0
django-storages==1.1.8
gunicorn==19.4.5
pagseguro==0.1.9.dev0
paypalrestsdk==1.11.5
