Cartridge==0.9.2
Mezzanine==3.0.9
Pillow==2.3.0
South==0.8.4
Django==1.6.2
django-social-auth==0.7.28
django-crispy-forms==1.4.0
django-pure-pagination==0.2.1
django-socialize==0.5.0
django-toolbelt==0.0.1
django-feedly==0.5.7
django-ship==0.1.5
reportlab==2.7
pagseguro==0.1.6.dev0
paypalrestsdk
