{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Hospedagem de Nanocomputadores</h1>
      <h2 class="highlight">A Efforia disponibiliza serviços na nuvem para você
        expandir ainda mais as possibilidades de seus nanocomputadores. Desde a
        publicação de websites até a integração de projetos de IoT (Internet of
        Things), dispomos de boa infraestrutura e bom atendimento para você hospedar
        o seu próximo projeto aqui.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="col-md-6 col-sm-12">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12">
        <h1>Efforia IoT</h1>
        <h3 class="highlight">Por meio deste serviço, oferecemos uma maneira simples e eficiente de
          integrar os mais diversos projetos de Internet das Coisas desenvolvidos
          em nossos nanocomputadores com a nuvem.</h3>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-6 col-sm-6">
        <img src="{% static 'svg/beta_program.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Automação mais universal.</h2>
        <p>Graças ao serviço Efforia IoT, é possível expandir o alcance de seu próximo
          projeto com a Efforia a não mais apenas o seu lar ou trabalho, mas a todos
          os lugares conectados à Internet no mundo.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="{% static 'svg/beta_cables.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Flexível em software/hardware.</h2>
        <p>Possuímos soluções integradas e personalizadas entre nossos nanocomputadores,
          sistema de automação implantado em seu ambiente e a nuvem, de acordo com
          cada demanda.</p>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-12 col-sm-12">
        <img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Massivamente distribuído.</h2>
        <p>Com o Efforia IoT, seus nanocomputadores não ficam restritos a apenas um
          ambiente para atuar sobre a Internet das Coisas; você pode distribuir a
          sua solução geograficamente.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12">
        <h1>Efforia Cloud</h1>
        <h3 class="highlight">Através deste serviço, há como utilizar a tecnologia exclusiva EOS na
          nuvem do Efforia para hospedar configurações, aplicativos e serviços que
          o seu negócio está precisando.</h3>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-6 col-sm-6">
        <img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Escale conforme a sua necessidade.</h2>
        <p>Com a nuvem do Efforia, não há com o que se preocupar com os custos.
        Funcionamos de acordo com o que precisa de recursos de máquina para cada
        momento, seja P, M ou G.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Configure para o que precisar.</h2>
        <p>Graças à tecnologia EOS, você possui um sistema operacional GNU/Linux
          completo com todos os recursos modernos que precisa e pronto para a configuração
          que necessitar.</p>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-12 col-sm-12">
        <img src="{% static 'svg/applications.svg' %}" style="height:200px !important;" class="img-responsive full-width">
        <h2>Tecnologia EOS em todos os lugares.</h2>
        <p>O Efforia Cloud utiliza a tecnologia exclusiva EOS, ficando assim presente
          em todos os ambientes que quiser, aproveitando o máximo de seu potencial
          em serviços e aplicativos.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
