{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container spaces-sm">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/hubprojectsimple.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>Projetos especiais para a sua demanda</h2>
      <p>Está precisando automatizar algo e nossas soluções atuais ainda não
        encaixam para sua demanda? Não se preocupe, a Efforia por meio da tecnologia
        presente no EMC Beta garante a criação de projetos especiais de acordo com
        o que você está precisando. Desde uma automação de micro-cervejaria até
        a de fresadoras CNCs, a Efforia vai até o seu estabelecimento, avalia sua
        necessidade, e realiza um projeto diferenciado para o seu negócio.
        Contate-nos para saber mais.</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/televisionsimple.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>Planos de garantia estendida</h2>
      <p>A Efforia disponibiliza para você uma cobertura de garantia para seu
        nanocomputador e todos os seus componentes de um ano ou mais, sendo
        cobrado da seguinte forma: é cobrada uma taxa única de R$ 100,00/mês&nbsp;para
        cada nanocomputador,&nbsp;tendo atendimento exclusivo e valores inclusos
        os serviços de conserto, troca e fretamento. Com este plano, você mantém
        todos os equipamentos adquiridos da Efforia sob proteção de defeitos de
        fábrica, hardware e software, desde que comprovadamente não causados
        pelo usuário.</p>
    </div>
  </div>
</div>

{% endblock %}
