{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Parceiros </h1>
      <p>Nós da Efforia Nanocomputadores acreditamos que trabalhando unido com parceiros, crescemos mais forte. E é por isso que dispomos de diversos em nosso catálogo, de forma a estruturar e ajudar nosso empreendimento, onde quer que seja.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-4 col-sm-4 text-center">
      <h2>Projeto Cauã</h2>
      <p>O Projeto Cauã trata-se de uma iniciativa empreendedora de incentivo da constituição de novos empreendimentos que façam uso de nanocomputadores para as mais diversas áreas. A Efforia é apoiadora desta iniciativa e o projeto, nosso parceiro de negócios para diversas atividades-chave de nosso empreendimento.</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h2>Fábrica de Ideias Coworking</h2>
      <p>Através do programa de mentoria para startups, o projeto embrionário do Efforia, antes chamado de Caokzu, surgiu na Fábrica de Ideias Coworking o nosso negócio. Graças a todo o apoio que é dado até hoje para a companhia, continuamos como fiéis clientes e damos todo o suporte sobre a Tecnologia da Informação com os nossos produtos e serviços para o espaço coletivo.</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h2>Raspberry Pi Foundation</h2>
      <p>Graças a fundação Raspberry Pi foi possível realizar boa parte dos mais diversos projetos da empresa, devido a fabricação das placas Raspberry Pi Modelo B, uma de nossas placa-base precursoras para o início do projeto do HUB, antes conhecido como Projeto Pandora. A partir desta fonte, foi possível a geração de diversas outras placas-base pelo mundo todo e pela difusão desta tecnologia, da qual é trazida a você hoje pelos nossos nanocomputadores.</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h2>Arch Linux ARM</h2>
      <p>A partir do Arch Linux ARM é que foi possível constituir nossas bases de fundação de nossa tecnologia exclusiva EOS. Como forma de contribuição a tudo o que a comunidade desta variante de GNU/Linux ofereceu para a nossa plataforma, a Efforia tem um compromisso sério com o código aberto e disponibiliza quando possível tecnologias que podem ser utilizadas em favor deste sistema operacional.</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h2>Microsoft BizSpark</h2>
      <p>A partir do programa estruturante de startups da Microsoft, temos uma disponibilidade de recursos de nuvem e software que são ofertados de forma gratuita por três anos. Além da própria Efforia como beneficiária, recomendamos o uso do serviço dos mesmos toda a vez que acreditamos que há uma oportunidade para nossos coworkers no espaço coletivo onde a Efforia Nanocomputadores encontra-se instalado atualmente.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
