{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Serviços para automação</h1>
      <h2 class="highlight">A Efforia Nanocomputadores oferece serviços adicionais
        que podem trazer diversos benefícios para a sua solução de automação, seja
        ela audiovisual, doméstica ou corporativa, em todos os tamanhos.</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Efforia Play</h1>
      <h3 class="highlight">A Efforia, sempre comprometida em oferecer a você o
        que há de melhor em automação audiovisual, comercializa pacotes de canais
        de filmes e músicas para uso em nossos nanocomputadores, com condições especiais
        na compra de sua solução de automação.</h3>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row middle">
    <div class="col-md-2">
      <img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">
    </div>
    <div class="col-md-4 lalign">
      <h2>Atendemos de P a G</h2>
      <p>Com tamanhos como P, M e G, contemplando diversas ofertas de canais de streaming
      e suas variações, a Efforia tem o plano perfeito para você e, se precisar,
      para sua família, colegas ou amigos.  </p>
    </div>
    <div class="col-md-4 ralign">
      <h2>Companhia para CATV</h2>
      <p>Oferecemos a possibilidade de acessar os mais diversos canais acompanhantes
      da programação da TV a Cabo, para que você possa assistir o filme, partida,
      debates ou documentários que quiser aonde quiser.</p>
    </div>
    <div class="col-md-2">
      <img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Efforia Grid</h1>
      <h3 class="highlight">Pensando na integração dos nanocomputadores com a Internet
        é que disponibilizamos o serviço Efforia Grid, que possibilita a hospedagem
        de sites, aplicativos e conteúdos dentro do nanocomputador, economizando
        drasticamente em custos de computação em nuvem.</h3>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/hcs.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>Chame-os pelo seu nome.</h2>
      <p>O Grid te permite registrar um nome na Internet para o seu nanocomputador.
        Através de nossa tecnologia, o aparelho conecta-se ao serviço, divulga os
        dados, sites ou aplicativos que quiser através do domínio *.grid.efforia.com.br.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>Nanocomputadores como micronuvens.</h2>
      <p>Pensado também para negócios, o serviço é muito útil para nuvens privadas,
        acesso remoto, intranets, compartilhamento de arquivos e de impressoras,
        graças à tecnologia exclusiva EOS presente em todos nossos nanocomputadores.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/server.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>Acessíveis remotamente.</h2>
      <p>Graças à publicação na Internet, serviços e automações que você costumava
        apenas acessar em sua residência ou empresa podem ser acessíveis e controláveis
        por outros locais de rede fora de seu ambiente, trazendo mais praticidade.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="/static/svg/cloud_combinated.svg" style="height:200px !important;" class="img-responsive full-width">
      <h2>Acopláveis por design.</h2>
      <p>É possível juntar dois ou mais nanocomputadores seus para formar um volume
        de aparelhos, possibilitando assim maior escalabilidade para o sistema de
        automação desejado e reduzindo o custo de locação de espaços na nuvem.</p>
    </div>
  </div>
</div>

{% endblock %}
