{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<style>

.background {
  background: url("{% static 'img/hub.jpg' %}") center center;
  background-size: cover;
}

</style>

<div class="jumbotron background">
  <div class="transparent-overlay bottom">
    <div class="container">
      <!--<img class="jumbo-img" src="{% static "svg/efforialogo.svg" %}"/>!-->
      <h2 class="jumbo-heading white">O FUTURO DA COMPUTAÇÃO PESSOAL COMEÇA AQUI</h2>
      <p class="jumbo-p white"> {% trans "And we want the computers present at every moment of people's lives" %}. </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Todo o poder na palma de sua mão, agora.</h1>
        <img src="/static/svg/television.svg" width="100%">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-4" style="padding: 0px;"><img src="/static/svg/cool.svg" width="100%">
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Refrigerado</h1>
          <h3>Não esquenta</h3>
          <p>O HUB representa o futuro da computação pessoal: ele não esquenta; graças à boa temperatura que ele opera, o HUB é uma ótima opção para qualquer ambiente, seja ele externo ou interno.&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="padding: 0px;"><img src="/static/svg/quiet.svg" width="100%">
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Silencioso</h1>
          <h3>Não faz barulho</h3>
          <p>Como o HUB aquece muito pouco, ele não possui ventoinhas, o que o torna bastante silencioso, podendo operar por horas sem você nem perceber</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="padding: 0px;"><img src="/static/svg/economic.svg" width="100%">
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Econômico</h1>
          <h3>Utiliza pouca energia</h3>
          <p>A Efforia, comprometida com a natureza, construiu o HUB com o que há de mais moderno no mercado, garantindo uma ótima eficiência energética ao consumir apenas 5W de potência. Isso dá a possibilidade de ligá-lo em televisores, tomadas de celulares e até baterias portáteis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6"><img src="/static/svg/hublateral.svg" height="400" width="100%">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Portátil</h1>
        <h3>Carregue para onde quiser</h3>
        <p>O HUB possui um tamanho bastante pequeno se comparado a computadores de modo em geral. Sendo assim, é muito fácil de carregá-lo para a praia, para o campo, e para onde você precisar.</p>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6"><img src="/static/svg/anything.svg" height="400" width="100%">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Versátil</h1>
        <h3>Baterias inclusas</h3>
        <p>Graças a tecnologia exclusiva EOS, que habilita o uso multifuncional do nanocomputador HUB, você tem um equipamento completo em suas mãos, podendo atuar das mais diversas maneiras, desde um mídia center até um computador completo com teclado, mouse e monitor.</p>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-12 text-center"><img src="/static/svg/combinated.svg" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Sem fios</h1>
        <h3>Adeus embaraço</h3>
        <p>A tecnologia EOS, juntamente com o sistema de conexão sem fio do HUB, reduz drasticamente a necessidade de ter fios circulando pela sua casa ou trabalho. Isso torna o nanocomputador fácil de carregar e prático de ligar para uso. Muitas vezes necessitará apenas da tomada ligada e pronto! Seu HUB estará disponível para o que precisar.</p>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <h1 style="text-align: center;">Especificações técnicas</h1>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-01.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>CPU</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-02.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>Armazenamento</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-03.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>Memória RAM</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-04.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>Entrada para TV</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-05.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>Ethernet</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 0px;"><img src="/static/svg/specs-06.svg" width="100%">
      <div class="visible-lg visible-md text-center" style="padding: 0px 15px;">
        <h3>Wi-Fi</h3>
      </div>
    </div>
    <img class="col-md-2 col-sm-3 col-xs-4 visible-sm visible-xs" src="/static/svg/specs-07.svg" style="padding: 0px;" width="100%"> <img class="col-md-2 col-sm-3 col-xs-4 visible-sm visible-xs" src="/static/svg/specs-08.svg" style="padding: 0px;" width="100%"> <!--<img class="col-md-2 col-sm-3 col-xs-4 visible-xs" src="/static/svg/specs-08.svg" width="100%" style="padding:0px;"/>!-->
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-12 text-center"><img src="/static/svg/coloured.svg" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Customizável</h1>
        <h3>Escolha como você quer</h3>
        <p>Nós da Efforia acreditamos que você pode ter um HUB para chamar de seu. Por isso temos diversas opções de acessórios, cores e outros adicionais, disponíveis para você em nossa loja virtual.</p>
      </div>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
