{% load i18n mezzanine_tags %}
<fieldset>
    <legend>Selecione qual será a sua forma de pagamento:</legend>
    <div class="clearfix"></div>
    {% fields_for form.card_fields %}
    <div id="payment_option" class="btn-block btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-block btn-primary">
            <h3>Pagar com o</h3>
            <img src="/static/img/paypal.png" width="50%"/>
            <input type="radio" name="options" id="paypal" value="#id_card_pay_option_0">
            <h4>Aceito em todo o mundo</h4>
        </label>
        <label class="btn btn-block btn-success">
            <h3>Pagar com o</h3>
            <img src="/static/img/pagseguro.png" width="50%"/>
            <input type="radio" name="options" id="pagseguro" value="#id_card_pay_option_1">
            <h4>Aceita boleto bancário</h4>
        </label>
    </div>
</fieldset>

<script>
$(document).ready(function(){    
    $('.btn').on('click',function(){
        //Fix for add class active too late
        $(this).addClass('active');
        elem = $('.active input[name=options]').val();
        $(elem).prop("checked",true);
    });
})
</script>