{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block start %}

<nav class="navbar subnavbar-top hidden-xs hidden-sm">
  <ul class="nav nav-pills submenu-top right">
    <li class="rightmargin">
      <button class="btn btn-default" style="height:43px;">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hubpro' %}">{% trans "Home" %}</a>
    </li>
    {% include "hubpro/nav.html" %}
    <li class="left leftmargin">
      <img height="43" src="{% static 'svg/hublogo.svg' %}"/>
    </li><br>
  </ul>
</nav>

{% endblock %}

{% block main %}

{% endblock %}
