{% extends "hubpro/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubpabg.png' %}") center center; */
  background: url("{% static 'img/explosion.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<div class="jumbotron background">
  <div class="transparent-black overlay middle">
    <div class="container centered">
      <img style="height:27em" src="{% static 'img/hubpa.png' %}"/>
      <h2 style="font-size:3em" class="white">TODO O PODER <br>NA PALMA DE SUA MÃO.</h2>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm">
  <ul class="nav nav-pills submenu right" style="background: rgba(0,0,0,0.7)">
    <li class="rightmargin">
      <button class="btn btn-default" style="height:43px;">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hubpro' %}">{% trans "Home" %}</a>
    </li>
    {% include "hubpro/nav.html" %}
    <li class="left leftmargin">
      <img height="43" src="{% static 'svg/hubwhite.svg' %}"/>
    </li><br>
  </ul>
</nav>

{% endblock %}

{% block main %}
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-4" style="padding:15px">
        <img src="{% static 'svg/cool.svg' %}" style="border-radius:15px" width="100%"/>
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Robusto</h1>
          <h3>Tudo na palma de sua mão</h3>
          <p>O HUB representa o futuro da computação pessoal: ele não esquenta; graças à boa temperatura que ele opera, o HUB é uma ótima opção para qualquer ambiente, seja ele externo ou interno.&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="padding:15px">
        <img src="{% static 'svg/quiet.svg' %}" style="border-radius:15px" width="100%">
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Espetacular</h1>
          <h3>Grande experiência audiovisual</h3>
          <p>Como o HUB aquece muito pouco, ele não possui ventoinhas, o que o torna bastante silencioso, podendo operar por horas sem você nem perceber</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="padding: 15px">
        <img src="{% static 'svg/economic.svg' %}" style="border-radius:15px" width="100%"/>
        <div class="text-center" style="padding: 0px 15px;">
          <h1>Ligado</h1>
          <h3>Amplamente conectável</h3>
          <p>A Efforia, comprometida com a natureza, construiu o HUB com o que há de mais moderno no mercado, garantindo uma ótima eficiência energética ao consumir apenas 5W de potência. Isso dá a possibilidade de ligá-lo em televisores, tomadas de celulares e até baterias portáteis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/combinated.svg' %}" class="box" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Sem fios</h1>
        <h3>Adeus embaraço</h3>
        <p>A tecnologia EOS, juntamente com o sistema de conexão sem fio do HUB, reduz drasticamente a necessidade de ter fios circulando pela sua casa ou trabalho. Isso torna o nanocomputador fácil de carregar e prático de ligar para uso. Muitas vezes necessitará apenas da tomada ligada e pronto! Seu HUB estará disponível para o que precisar.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="{% static 'svg/coloured.svg' %}" class="box" width="90%">
      <div style="padding: 0px 50px;">
        <h1>Customizável</h1>
        <h3>Escolha como você quer</h3>
        <p>Nós da Efforia acreditamos que você pode ter um HUB para chamar de seu. Por isso temos diversas opções de acessórios, cores e outros adicionais, disponíveis para você em nossa loja virtual.</p>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/hublateral.svg' %}" class="box" height="" width="100%">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Portátil</h1>
        <h3>Carregue para onde quiser</h3>
        <p>O HUB possui um tamanho bastante pequeno se comparado a computadores de modo em geral. Sendo assim, é muito fácil de carregá-lo para a praia, para o campo, e para onde você precisar.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/anything.svg' %}" class="box" height="" width="100%">
      <div class="text-center" style="padding: 0px 15px;">
        <h1>Versátil</h1>
        <h3>Baterias inclusas</h3>
        <p>Graças a tecnologia exclusiva EOS, que habilita o uso multifuncional do nanocomputador HUB, você tem um equipamento completo em suas mãos, podendo atuar das mais diversas maneiras, desde um mídia center até um computador completo com teclado, mouse e monitor.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/television.svg' %}" class="box" height="" width="100%">
      <div class="text-center" style="padding:0px 15px;">
        <h1>Poderoso</h1>
        <h3 class="text-center">Tudo na palma de sua mão</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h1 class="centered">Especificações</h1>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/cpupro.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/mempro.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/ethpro.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}"/>
      <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/gsmpro.svg' %}"/>
    </div>
  </div>
  <p><br><br></p>
  <div class="row"></div>
  <p><br><br></p><p><br></p>
</div>

<div class="container spaces-sm">
  <div class="centered row">

  </div>
</div>

{% endblock %}
