{% extends "hubpro/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubpabg.png' %}") center center; */
  background: url("{% static 'img/explosion.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<div class="jumbotron background">
  <div class="transparent-black overlay middle nobottom">
    <div class="container centered">
      <img class="hubpro-size" src="{% static 'img/hubpa.png' %}"/>
      <h2 class="jumbo-highlight white">TODO O PODER <br>NA PALMA DE SUA MÃO.</h2>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm nooverlay">
  <ul class="nav nav-pills submenu submenu-inverse right">
    <li class="rightmargin">
      <button class="btn btn-default hub-btn">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hubpro' %}">{% trans "Home" %}</a>
    </li>
    {% include "hubpro/nav.html" %}
    <li class="left leftmargin">
      <img class="hub-logo" src="{% static 'svg/hubwhitepro.svg' %}"/>
    </li>
  </ul>
</nav>

{% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<div class="container">
  <div class="row">
    <div class="col-md-12 spaces-md">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <img src="{% static 'svg/hubsimplepro.svg' %}" class="img-responsive"/></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="highlight">O HUB Pro é a solução profissional que você esperava em
        robustez e versatilidade em automação doméstica ou corporativa.</h1></div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/fastsimple.svg' %}" class="img-responsive img-rounded full-width"/>
      <h1>Robusto</h1>
      <h3>Tudo na palma de sua mão</h3>
      <p>O HUB Pro representa o futuro da automação doméstica e corporativa:
      ele dispensa o uso de computadores para o sistema graças ao seu bom desempenho,
      sendo uma ótima opção para qualquer ambiente externo ou interno.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/spectacularsimple.svg' %}" class="img-responsive img-rounded full-width">
      <h1>Espetacular</h1>
      <h3>Ótima experiência audiovisual</h3>
      <p>Com a tecnologia EOS-D baseada na plataforma Android, o HUB Pro traz
      uma experiência audiovisual sem par, somado à sua operação silenciosa,
      aproveitando o que há de melhor por horas sem você nem perceber.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/connectedsimple.svg' %}" class="img-responsive img-rounded full-width"/>
      <h1>Ligado</h1>
      <h3>Amplamente conectável</h3>
      <p>Com as conexões sem fio (Wi-Fi), com fio (Ethernet), e de redes móveis
      (HSPA+) por padrão, seu HUB Pro está conectado com o que há de mais moderno,
      garantindo uma ótima saída de Internet para qualquer situação.</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/combinated.svg' %}" class="box img-responsive full-width">
      <h1>Appstacular</h1>
      <h3>Um mundo de possibilidades</h3>
      <p>A tecnologia EOS-D é baseada na plataforma Android, o que te permite o uso
        de milhares de aplicativos que você estava acostumado a utilizar em seu
        smartphone, tablet ou outros gadgets, direto na sua televisão.</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/coloured.svg' %}" class="box img-responsive full-width">
      <h1>O Futuro da TV</h1>
      <h3>Canais de streaming</h3>
      <p>Nós da Efforia acreditamos que o HUB Pro representa o futuro da televisão.
        Para isso temos diversas opções de canais de streaming, que oferecem diversos
        conteúdos, entre gratuitos e disponíveis para assinatura.</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/hublateral.svg' %}" class="box img-responsive full-width">
      <h1>A TV fora da TV</h1>
      <h3>Ótima companhia para CATV</h3>
      <p>Montado com um design compacto, a opção de acessar aplicativos de canais
        de TV a cabo (CATV) e a gravação digital de programas de TV (DVR), ele é uma ótima
        opção para levar para onde você precisar.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/anything.svg' %}" class="box img-responsive full-width">
      <h1>Super Versátil</h1>
      <h3>Tecnologias EOS e EOS-D</h3>
      <p>Graças a compatibilidade com as tecnologias EOS e EOS-D, o HUB Pro possui
        um uso completamente multifuncional, garantindo o equipamento mais completo
        da Efforia em suas mãos, dando asas à sua imaginação.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/television.svg' %}" class="box img-responsive full-width">
      <h1>Expansível</h1>
      <h3>HD, SSD para maior capacidade</h3>
      <p>Com mais tecnologias de entrada e saída que o HUB convencional, há como
        expandir as possibilidades do HUB Pro, seja aumentando a sua capacidade
        de memória ou adicionando outras opções de conexão.</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <img src="{% static 'img/hubpa.png' %}" class="img-responsive third-width visible-xs"/>
    <div class="middle">
      <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 hidden-xs">
        <img src="{% static 'img/hubpa.png' %}" class="img-responsive full-width"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="centered">Especificações</h1>
        <div class="col-md-12">
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/cpupro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/mempro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/ethpro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/gsmpro.svg' %}"/>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
