{% extends "hubpro/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Mídia Center </h1>
      <p>O cartão EMC Play possui a solução ideal para a sua casa ou trabalho para reprodução multimídia e transmissão sem fio de conteúdo audiovisual. Fazendo uso da tecnologia exclusiva EOS desenvolvida pela Efforia mais um aplicativo exclusivo, você consegue ter controle sobre a sua coleção de vídeos, músicas, e fotos de seu nanocomputador e de todas as unidades de armazenamento ligadas a ele (pendrives, discos rígidos externos e cartões de memória), podendo assim reproduzir em televisores (pela saída HDMI/RCA do nanocomputador), e transmitir sem fio para smartphones, tablets, laptops e vice-versa.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/anywhere.svg" height="400" width="90%">
      <h2>Solução ideal para automação do entretenimento doméstico</h2>
      <p>Este aplicativo é a melhor opção para você que deseja apresentar suas fotos, vídeos e músicas em seu televisor e/ou sistema de som, sem a necessidade de fios sendo passados pela sua sala, quarto, ou cozinha. Equipado com a tecnologia EOS, você consegue integrá-lo aos mais diversos smartphones e tablets do mercado por meio de aplicativos encontrados nas Appstores. Além de ser uma boa opção para streaming sem fio, o Play é uma ótima escolha para você que possui um conjunto considerável de filmes, músicas, podcasts e fotos e gostaria de organizá-los em coleções e catalogá-los.</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/wireless_projector.svg" height="400" width="90%">
      <h2>Melhor solução para apresentação sem fio na sua empresa</h2>
      <p>O Play, com sua capacidade de transmissão de conteúdo sem fio, torna o seu nanocomputador uma ótima opção para ligar no projetor ou televisor e transmitir slides em formato de imagens e vídeos, tudo isso podendo ser controlado em smartphones e tablets. É uma ótima escolha para eliminar a quantidade infindável de fios em sua sala de projeção ou reuniões, e de quebra poder utilizar dispositivos mais portáteis para a realização das apresentações, dispensando o uso de laptops ou desktops.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
