{% extends "hubpro/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Nuvem</h1>
      <h2 class="highlight">Visando a oportunidade de comercializar nanocomputadores para a nuvem e
        servidores, nós desenvolvemos uma solução versátil e de baixo custo de manutenção,
        o HUB Pro com tecnologia exclusiva EOS. Com esse sistema, é possível hospedar
        websites, compartilhar impressoras e arquivos, constituir um firewall, dentre
        outras muitas possibilidades.</h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/eostechnology.svg' %}" style="height:400px !important;" class="img-responsive full-width"/>
      <h2>Tecnologia Exclusiva EOS</h2>
      <p>Muito além de um servidor comum, o HUB Pro para nuvem
        conta com o diferencial da robustez e versatilidade da tecnologia EOS que
        garante recursos como containerização, implantação contínua, acesso e execução
        remoto e compilação distribuída, além de um grande acervo de aplicativos
        e serviços já pré-instalados.</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/cluster.svg' %}" style="height:400px !important;" class="img-responsive box full-width"/>
      <h2>Ótimo para Volumes</h2>
      <p>Contando com as vantagens de comprar um nanocomputador da Efforia (Econômico,
        portátil, silencioso, refrigerado e versátil), temos valores especiais para
        aquisição de diversas unidades, ótimo para a construção de micro-nuvens.
        Caso tenha interesse comprar em volume, contate-nos.</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Uma Pletora de Serviços para Nuvem</h1>
      <h3 class="highlight">Caso necessite hospedar websites e aplicativos web que
        precisam ser publicados, dispomos de serviços para que o seu nanocomputador
        conectado em sua rede interna consiga ser acessado de fora, pela Internet.
        Temos também aplicações inclusas no HUB Pro de fácil integração com nossos
        e outros serviços de nuvem, tornando este nanocomputador uma solução de alto
        desempenho para Cloud Computing ou IoT.</h3>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/cloudserver.svg' %}" style="height:400px !important;" class="img-responsive box full-width">
      <h2>Solução ideal para micro-nuvem e micro-servidor</h2>
      <p>Os HUB Pro é a solução ideal para substituir seu servidor antigo e grande
        por algo moderno, rápido e compacto. Graças a tecnologia exclusiva EOS e à
        sua versatilidade, garantimos toda a funcionalidade que você já possuía em
        sua solução anterior e muito mais.</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/clusterized.svg' %}" style="height:400px !important;" class="img-responsive box full-width">
      <h2>Acoplável por design, preparado para clusterização</h2>
      <p>A tecnologia EOS possui serviços que são facilmente acopláveis entre si,
        garantindo uma maior paralelização. É uma situação perfeita para quando
        um nanocomputador não é o suficiente para atender determinada demanda;
        assim&nbsp;disponibilizamos a compra em volumes para sua empresa.</p>
    </div>
  </div>
</div>

{% endblock %}
