{% extends "hubpro/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Servidor</h1>
      <p>Visando a oportunidade de comercializar nanocomputadores para a nuvem e servidores, nós desenvolvemos uma solução versátil e de baixo custo de manutenção, o cartão EMC Cloud. Com este aplicativo, é possível hospedar websites, compartilhar impressoras e arquivos, constituir um firewall, dentre outras muitas funções de um servidor comum. Tudo isso mais o diferencial da robustez da tecnologia EOS para a nuvem que garante recursos como containerização, implantação, acesso remoto, execução e compilação, e todas as vantagens de comprar um nanocomputador da Efforia, (econômico, portátil, silencioso, &nbsp;refrigerado e versátil).</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/cloudserver.svg' %}" class="img-responsive box full-width">
      <h2>Solução ideal para micro-nuvem e micro-servidor</h2>
      <p>Os nanocomputadores da Efforia com o Cloud são a solução ideal para substituir seu servidor antigo e grande por algo novo e portátil. Graças a tecnologia exclusiva EOS mais um grande acervo de aplicativos e serviços já pré-instalados, garantimos toda a funcionalidade que você já possuía em sua solução anterior e muito mais. Caso necessite hospedar websites e aplicativos web que precisam ser publicados, dispomos de serviços como o Efforia Cloud Service para que o seu nanocomputador conectado em sua rede interna consiga ser acessado de fora, pela Internet.</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/clusterized.svg' %}" class="img-responsive box full-width">
      <h2>Acoplável por design, preparado para clusterização</h2>
      <p>A tecnologia EOS possui serviços que são facilmente acopláveis entre si, garantindo uma maior paralelização. É uma situação perfeita para quando um nanocomputador não é o suficiente para atender determinada demanda; assim&nbsp;disponibilizamos a compra em volumes para sua empresa. Temos também serviços especiais inclusos no Cloud que são de fácil acoplamento, tornando este EMC perfeito para a solução de clusterização ou em volumes.</p>
    </div>
  </div>
</div>
<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <img src="{% static 'svg/cluster.svg' %}" class="img-responsive box full-width"/>
      <h1>Volumes</h1>
      <h2>Preços especiais para compra de nanocomputadores em volume</h2>
      <h3>Para compras em volumes contatar volumes@efforia.com.br</h3>
    </div>
  </div>
</div>

{% endblock %}
