html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body { font-family:Ubuntu; }
h1,h2,h3,h4,h5,h6,ul.nav { font-family: Ubuntu; /*font-weight:bold;*/ }
a,a:hover,a:active,a:focus { text-decoration:none !important; }

.facebook,.facebook:hover { text-align:left; background:#3C5A98; text-shadow:none; }
.twitter,.twitter:hover { text-align:left; background:#00ACED; text-shadow:none; }
.youtube,.youtube:hover { text-align:left; background:#FF1F20; text-shadow:none; }
.foursquare,.foursquare:hover { text-align:left; background:#0072B1; text-shadow:none; }
.github,.github:hover { text-align:left; background:white; text-shadow:none; }

.divider { margin:5px; }
.inline { display:inline; color:white; }
.hidden { display:none; }
.centered { text-align:center; }
.input_id_card_pay_option_0 { display:none; }
.turquoise { color:turquoise; }
.pink { color: pink; }
.gold { color: lightgreen; }
.black:hover { color:black; }
.white:hover { color:white; }
.white { color:white; }
.centered { text-align:center; }
.bar { background:white; }
.bordered { border: 1px solid white; }
.leftmargin { margin-left: 15px; }
.rightmargin { margin-right:15px; }
.leftaligned { text-align:left; }
.rightaligned { text-align:right; }
.navbar-height { height:3em; }
.navbar-padding { padding:15px; }
.nomargin { margin:0px; }
.dropdown-white { background-color: #FFFFFF !important; }
.content { min-height:200px; }
.info { font-weight:normal !important; }

.footer {
  background-color:#222222;
  color:#969696;
  margin-top:0;
  font-size: 1.2em;
  border-top:0;
  font-weight: bold;
  padding:0px;
}

.fixed-navbar {
	border:0px;
	border-radius:0px;
	padding:0px;
	margin-bottom:0px;
}

.jumbotron {
	text-align:center;
	color:white;
	padding:0em;
  min-height:450px;
}

.nebula-cover {
  background-color:white;
  color:black;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}


.none {
    border:none;
    box-shadow:none;
}

.footer-nav {
    margin-bottom:15px;
    background:#6EC497;
    color:white;
    min-height:28px;
    max-height:28px;
}

.navbar-flag {
    height:2em;
    margin:27px;
}

.navbar-cart {
    height:3em;
    margin:18px;
    margin-left:15px;
    margin-right:15px;
    text-align:center;
}
