.flag {
  cursor:pointer;
  height:100%;
}

.block {
  height:600px;
  padding:20px;
  border-radius:15px;
}

.block-padding { padding:10px !important; }

.transparent-overlay {
  position: relative;
  background: rgba(0,0,0,0.7);
  min-height: inherit;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
