{% load i18n future pages_tags staticfiles %}
{% spaceless %}
{% if page_branch_in_menu %}

<script> function redirect(addr){ window.location = addr; } </script>
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">

{% if branch_level == 0 %}
<ul class="nav navbar-nav navbar-height navbar-padding nav-default">
  <li class="dropdown" id="hub">
    <a class="centered menuitem" href="{% url 'hub' %}" data-toggle="dropdown" onclick="redirect('{% url 'hub' %}');"> {% trans "HUB" %} </a>
    <ul class="dropdown-menu menu">
      <li class="menuitem"><a href="{% url 'internetofthings' %}">Internet das Coisas</a></li>
      <li class="menuitem"><a href="{% url 'howitworks' %}">Como funciona</a></li>
      <li class="menuitem"><a href="{% url 'whatisitfor' %}">Para que serve</a></li>
      <li class="menuitem"><a href="{% url 'devices' %}">Dispositivos</a></li>
    </ul>
  </li>
  <li class="dropdown" id="aplicacoes">
    <a class="centered menuitem" href="{% url 'uses' %}" data-toggle="dropdown" onclick="redirect('{% url 'uses' %}');"> {% trans "HUB Pro" %} </a>
    <ul class="dropdown-menu menu">
      <li class="menuitem"><a href="{% url 'personalcomputing' %}">Computador Pessoal</a></li>
      <li class="menuitem"><a href="{% url 'mediacenter' %}">Mídia Center</a></li>
      <li class="menuitem"><a href="{% url 'videogame' %}">Vídeo Game</a></li>
      <li class="menuitem"><a href="{% url 'server' %}">Servidor</a></li>
    </ul>
  </li>
  <li class="dropdown" id="sobre">
    <a class="centered menuitem" href="{% url 'about' %}" data-toggle="dropdown" onclick="redirect('{% url 'about' %}');"> {% trans "Services" %} </a>
    <ul class="dropdown-menu menu">
      <li class="menuitem"><a href="{% url 'apps' %}">Aplicativos</a></li>
      <li class="menuitem"><a href="{% url 'opensource' %}">Código Aberto</a></li>
      <li class="menuitem"><a href="{% url 'services' %}">Nuvem</a></li>
      <li class="menuitem"><a href="{% url 'partners' %}">Parceiros</a></li>
    </ul>
  </li>
  <li class="dropdown" id="suporte">
    <a class="centered menuitem" href="{% url 'support' %}" data-toggle="dropdown" onclick="redirect('{% url 'support' %}');"> {% trans "Help" %} </a>
    <ul class="dropdown-menu menu">
      <li class="menuitem"><a href="{% url 'documentation' %}">Documentação</a></li>
      <li class="menuitem"><a href="{% url 'developer' %}">Desenvolvedor</a></li>
      <li class="menuitem"><a href="{% url 'warranty' %}">Garantia</a></li>
      <li class="menuitem"><a href="{% url 'localization' %}">Localização</a></li>
    </ul>
  </li>
  <!--<li class="dropdown" id="shop">
    <a class="centered menu" href="/shop/" data-toggle="dropdown" onclick="window.location = '/shop/';"> Loja </a>
    <ul class="dropdown-menu menu">
      <li class="menuitem" id="shop-hub"><a href="/shop/hub/">HUB</a></li>
      <li class="menuitem" id="shop-emc"><a href="/shop/emc/">EMC</a></li>
      <li class="menuitem" id="shop-cabos"><a href="/shop/cabos/">Cabos</a></li>
      <li class="menuitem" id="shop-acessorios"><a href="/shop/acessorios/">Acessórios</a></li>
      <li class="menuitem" id="shop-volumes"><a href="/shop/volumes/">Volumes</a></li>
    </ul>
  </li>!-->
  {% for page in page_branch %}
  {% if not has_home and page.is_primary and forloop.first %}
  <!--<li{% if on_home %} class="dropdown"{% endif %} id="dropdown-menu-home">
      <a style="color:black" href="{% url "home" %}">{% trans "Home" %}</a>
  </li>!-->
  {% endif %}
  {% if page.in_menu %}
          <li class="{% if page.has_children_in_menu %}dropdown{% endif %}
                     {% if page.is_current_or_ascendant %}active{% endif %}"
              id="{{ page.html_id }}">
              <a class="centered menuitem" style="font-size:1.2em; color:black" href="{{ page.get_absolute_url }}"
              {% if page.has_children_in_menu %}
              class="dropdown-toggle disabled" data-toggle="dropdown"
              onclick="window.location = {{ page.get_absolute_url }};"
              {% endif %}>
              {% if "Shop" in page.title %}
                  {% trans "Shop" %}
              {% else %}
                  {{ page.title }}
              {% endif %}
                  {% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}
              </a>
              {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
              {% endif %}
          </li>
  {% endfor %}
  <!--<li class="dropdown" id="account">
    <a class="centered menuitem" href="/account" class="dropdown-toggle disabled" data-toggle="dropdown" onclick="window.location = '/account';">{% trans "My Account" %}</a>
    <ul class="dropdown-menu menu">
      <li class="menuitem"><a href="/account/orders">Meus Pedidos</a></li>
      <li class="menuitem"><a href="/account/update">Atualizar Perfil</a></li>
      <li class="menuitem"><a href="/shop/wishlist">Lista de Desejos</a></li>
    </ul>
  </li>!-->
</ul>

{% else %}
<ul class="dropdown-menu menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}dropdown-submenu{% endif %}
               {% if page.is_current_or_ascendant %}active{% endif %}"
        id="{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endspaceless %}
