{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block start %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<nav class="navbar subnavbar-top hidden-xs hidden-sm">
  <ul class="nav nav-pills submenu-top right">
    <li class="rightmargin">
      <button class="btn btn-default hub-btn" onclick="redirect('/store/choose');">{% trans "Buy" %}</button>
    </li>
    <li class="rightmargin">
      <a href="{% url 'hubpro' %}">{% trans "Home" %}</a>
    </li>
    {% include "hubpro/nav.html" %}
    <li class="left leftmargin">
      <img class="hub-logo" src="{% static 'svg/tv.svg' %}"/>
    </li><br>
  </ul>
</nav>

{% endblock %}

{% block main %}

{% endblock %}
