<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load shop_tags pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/hubshortcut.png" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}

{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}

{% endifinstalled %}

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<link rel="stylesheet" href="{% static "css/efforia.css" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}">
<style>
@font-face { font-family: "Ubuntu"; src: url("{% static "fonts/ubuntul.ttf" %}"); }
@font-face { font-family: "Ubuntu"; src: url("{% static "fonts/ubuntu-bold.ttf" %}"); font-weight: bold; }
</style>

{% block header %}{% endblock %}
</head>

<body>

  <!-- Common navbar for all sizes and pages of the website !-->
  <nav class="navbar navbar-default fixed-navbar">
    <div class="container-fluid">
      <a class="hidden-xs hidden-sm navbar-brand navbar-select" href="/">
        <img src="{% static "svg/logo.svg" %}" class="navbar-img" alt="Efforia"/>
      </a>
      <div class="navbar-header hidden-md">
        <div id="search" class="hidden-xs hidden-sm">
          {% include "includes/search_form.html" %}
        </div>
        <button class="navbar-toggle collapsed bordered navbar-height navbar-corner-left"
                type="button" data-toggle="collapse" data-target="#collapsed">
          <span class="sr-only">{% trans "Toggle Navigation" %}</span>
          <span class="icon-bar bar"></span>
          <span class="icon-bar bar"></span>
          <span class="icon-bar bar"></span>
        </button>
        <a class="visible-xs visible-sm navbar-brand-center" href="/">
          <img src="{% static "svg/logo.svg" %}" class="navbar-img" alt="Efforia"/>
        </a>
        <div class="visible-xs visible-sm navbar-cart navbar-corner-right">
          <button type="button" class="btn btn-lg btn-default" data-toggle="collapse" data-target="#profile">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </button>
        </div>
      </div>
      <div id="profile" class="collapse hidden-lg hidden-md">
        <ul class="nav navbar-nav navbar-height navbar-padding nav-default">
          {% include "includes/profile.html" %}
        </ul>
      </div>
      <div id="collapsed" class="collapse navbar-collapse navbar-left none">
        {% page_menu "pages/menus/dropdown.html" %}
        <div class="visible-xs visible-sm centered"> {% include "includes/search_form.html" %} </div>
      </div>
      <div id="profile" class="navbar-right navbar-cart hidden-xs hidden-sm">
        <div class="dropdown" id="pop">
          <a class="btn btn-lg btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
          <ul class="dropdown-menu btn-block account menu">
            {% include "includes/profile.html" %}
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main block for pages container !-->
  <div class="content">
    {% block start %} {% endblock %}
    {% block main %} {% endblock %}
    {% block end %} {% endblock %}
  </div>

  <!-- Common footer for all pages, including scripts !-->
  <footer class="footer">
    <div class="container-fluid">
      <nav class="row footer-nav">
        <div class="col-md-3"></div>
        <div class="col-md-6 centered visible-lg visible-md" style="font-size:0.9em; font-weight:normal;">
          <img class="navicon" src="{% static "svg/whatsapp.svg" %}"/>&nbsp;{% trans "+5551 9848 5888" %}&nbsp;&nbsp;
          <img class="navicon" src="{% static "svg/skype.svg" %}"/>&nbsp;efforiaca&nbsp;&nbsp;
          <img class="navicon" src="{% static "svg/phone.svg" %}"/>&nbsp;{% trans "+5551 4042 3888" %}&nbsp;&nbsp;
        </div>
        <div class="col-md-6 centered visible-xs visible-sm" style="font-size:0.8em; font-weight:normal;">
          <img class="navicon" src="{% static "svg/whatsapp.svg" %}" height="18"/>&nbsp;{% trans "+5551 9848 5888" %}&nbsp;&nbsp;
          <img class="navicon" src="{% static "svg/skype.svg" %}" height="18"/>&nbsp;efforiaca&nbsp;&nbsp;
        </div>
        <div class="col-md-3"></div>
      </nav>
      <div class="row flex">
        <div class="col-md-8 col-sm-6 centered hidden-xs spaces-xs"> {% include "includes/sitemap.html" %} </div>
        <div class="col-md-6 col-sm-6 col-xs-12 middle">
          <div class="visible-xs">
            <img class="payments-xs" src="{% static "svg/optionsv.svg" %}"/></div>
          <div class="visible-sm visible-md">
            <img class="payments-sm" src="{% static "svg/optionsv.svg" %}"/></div>
          <div class="visible-lg">
            <img class="payments-md" src="{% static "svg/options.svg" %}"/></div>
        </div>
      </div>
      <div class="row middle centered whitebg">{% include "includes/flags.html" %}</div>
      <div class="row info whitebg">
        <p class="visible-md visible-lg visible-sm site-info text-center">
          Efforia Tecnologia Ltda - ME
          <span class="separator">|</span> CNPJ: 15.436.865/0001-72
          <span class="separator">|</span> Vigário José Inácio, 399/409 - Porto Alegre/RS - Brasil
        </p>
        <p class="visible-xs site-info text-center">
          Efforia Tecnologia Ltda - ME<br/>
          CNPJ: 15.436.865/0001-72<br/>
          Rua Vigário José Inácio, 399/409<br/>
          Porto Alegre/RS - Brasil
        </p>
      </div>
    </div>
  </footer>
  {% include "includes/footer_scripts.html" %}
</body>
</html>
