{% extends "base.html" %}
{% load i18n %}

{% block main %}
{% blocktrans %}
<script>
$(document).ready(function(){
    $('.fixed-navbar')
    .addClass('nebula-cover')
    .removeClass('navbar-inverse');
    $('.nebula-jumbotron')
    .removeClass('hidden');
    $('.page')
    .removeClass('container');
});
</script>
<div style="text-align:center;">
    <div class="col-md-4" style="background-color:#0EA84A;">
        <a href="#" class="white">
            <br><br><img src="/static/svg/hub.svg" width="50%"/>
            <h1>Hub</h1>
            <h3>A partir de R$ 499,00</h3><br>
        </a>
    </div>
    <div class="col-md-4" style="background-color:#FFFFFF;">
        <a href="#" class="black">
            <br><br><img src="/static/svg/cloud.svg" width="50%"/>
            <h1>Hub Cloud</h1>
            <h3>A partir de R$ 399,00</h3><br>
        </a>
    </div>
    <div class="col-md-4" style="background-color:#6D1943;">
        <a href="#" class="white">
            <br><br><img src="/static/svg/beta.svg" width="50%"/>
            <h1>Hub Beta</h1>
            <h3>A partir de R$ 499,00</h3><br>
        </a>
    </div>
    <div class="col-md-4" style="background-color:#DBDB1F; color:black;">
        <a href="#" class="black">
            <br><br><img src="/static/svg/retro.svg" width="50%"/>
            <h1>Retro</h1><br>
        </a>
    </div>
    <div class="col-md-4" style="background-color:#3F66AF; color:white;">
        <a href="#" class="white">
            <br><br><img src="/static/svg/plug.svg" width="50%"/>
            <h1>Acessórios</h1><br>
        </a>
    </div>
    <div class="col-md-4" style="background-color:#EC1C23; color:white;">
        <a href="#" class="white">
            <br><br><img src="/static/svg/combo.svg" width="50%"/><br>
            <h1>Combos</h1><br>
        </a>
    </div>
</div>
{% endblocktrans %}
{% endblock %}
