{% extends "base.html" %}
{% load i18n %}

{% block main %}
{% blocktrans %}
<h2>Congratulations!</h2>
<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
    <li>Realizar integração com sistema de frete com Shipping</li>
    <li>Realizar integração com os sistemas de pagamento MOIP, PagSeguro e PayPal</li>
    <li>Finalizar design novo da página principal com o Feedly</li>
    <li>Integrar login social ao novo site do Efforia</li>
    <li>Construir wizard de customização do Hub</li>
    <li>Construir as páginas pelo Mezzanine</li>
    <li>Adicionar produtos pelo Cartridge</li>
    <li>Migrar banco de dados local para Heroku quando finalizar tudo</li>
</ul>
{% endblocktrans %}
{% endblock %}
