{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <h1 id="title" style="text-align:center;"> Aplicações </h1>
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <p>A tecnologia exclusiva EOS, desenvolvida para os nanocomputadores da Efforia, garante a versatilidade a partir de um sistema de troca de cartões. Os programas desenvolvidos para a plataforma ficam auto-contidos em um cartão de memória, denominado de EOS Memory Card (EMC), compostos de um sistema básico específico para cada nanocomputador, um sistema intermediário idêntico para todos os nanocomputadores, e por fim, o aplicativo propriamente dito.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-12 text-center"><img src="/static/svg/applications.svg" width="80%">
      <h2>Um nanocomputador, múltiplas possibilidades</h2>
      <p>Graças a este diferencial, nossos nanocomputadores possuem diversas funcionalidades, todas elas divididas em cartões EMCs. Com isso, podemos utilizar um cartão para que o dispositivo funcione como um computador pessoal, dispondo de teclado, mouse e monitor, outro cartão para mídia center, conectado a uma televisão e a um controle sem fio, entre muitas outras possibilidades. Você escolhe como seu aparelho irá operar.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
