{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Documentação </h1>
      <p>Neste local, disponibilizamos todo o material essencial para que você possa desfrutar o máximo de nossos nanocomputadores. Para começar, veja nosso guia de início rápido.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/box.svg" height="300" width="50%">
      <h3>O que vem na embalagem?</h3>
      <p>O HUB, este Guia, uma Fonte de alimentação, um Cabo HDMI, um Cartão SD, um Wi-Fi USB, e um Adesivo do HUB.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/specification.svg" height="300" width="90%">
      <h3>O que há dentro do HUB?</h3>
      <p>O que há de mais recente e eficiente para um computador está dentro deste pequeno dispositivo.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/order.svg" height="300" width="90%">
      <h3>Ligar os motores.</h3>
      <p>Para ligar o HUB, deve-se conectar na seguinte ordem: o cabo HDMI, o cartão SD, as conexões de rede e a fonte 5V.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/coloured.svg" height="300" width="90%">
      <h3>Calibrar Acessórios.</h3>
      <p>O HUB dispõ de portas USB, que são utilizadas para ligar pendrives, leitores, adaptadores e HDs externos.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/anything.svg" height="300" width="90%">
      <h3>Preparar para a Largada.</h3>
      <p>O HUB consegue operar sem televisão, assim como sem roteador sem fio. Para a última opção, use o Hotspot.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/combinated.svg" height="300" width="90%">
      <h3>Dada a largada!</h3>
      <p>Se você conseguiu efetuar todos os passos com sucesso, já poderá ligar seus dispositivos no HUB.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/eostechnology.svg" height="300" width="90%">
      <h3>Como usar o EOS?</h3>
      <p>Para navegar, um controle ou um teclado conectado ao HUB já basta. Mouse e trackball são recomendados.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/eosapps.svg" height="300" width="90%">
      <h3>Meu HUB vem preparado?</h3>
      <p>Pré-instalado com EOS, o que traz um conjunto de aplicativos, o HUB também é expansível por meio de cartões SD.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/applications.svg" height="300" width="90%">
      <h3>Possibilidades Infinitas</h3>
      <p>Para poder ligar os seus dispositivos, basta acessar nosso site oficial para descobrir aplicativos para isso.</p>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <img src="/static/svg/plug.svg" height="300" width="50%">
      <h3>Expanda as possibilidades</h3>
      <p>O Efforia disponibiliza diversos acessórios certificados para você a partir de nosso site.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
