{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title" style="text-align:center;"> Como funciona </h1>
      <img src="/static/svg/eostechnology.svg" width="70%">
      <div style="padding: 0px 50px;">
        <h1>Tecnologia Exclusiva EOS</h1>
        <p>Todos os HUBs vem equipados com a tecnologia exclusiva EOS desenvolvida pela Efforia, que garante uma série de diferenciais que tornam o nanocomputador singular. Integrável por natureza, o EOS possui serviços que garantem total disponibilidade de conteúdo de seus documentos, fotos, músicas e vídeos, em qualquer lugar que você esteja.</p>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center"><img src="/static/svg/sound.svg" height="300" width="90%">
      <h2>Sound</h2>
      <p>O serviço Sound dá a possibilidade de transmitir músicas e podcasts, de seu tablet, laptop ou smartphone para o HUB e vice-versa, de maneira fácil e rápida.</p>
      <p><br><br></p>
    </div>
    <div class="col-md-2 col-sm-6 text-center"><img src="/static/svg/torrent.svg" height="300" width="90%">
      <h2>Torrent</h2>
      <p>Faça downloads e uploads com este serviço de forma ilimitada para o seu HUB ou para qualquer armazenamento removível, por meio da tecnologia BitTorrent.</p>
      <p><br><br></p>
    </div>
    <div class="col-md-2 col-sm-6 text-center"><img src="/static/svg/store.svg" height="300" width="90%">
      <h2>Store</h2>
      <p>O compartilhamento de arquivos na sua rede ficou muito mais fácil. Com o serviço Store, você pluga um pendrive, HD externo ou cartão de memória no HUB e pronto! Seus dados começam a ser compartilhados automaticamente na sua rede de sua casa ou trabalho.&nbsp;</p>
      <p><br><br></p>
    </div>
    <div class="col-md-2 col-sm-6 text-center"><img src="/static/svg/hotspot.svg" height="300" width="90%">
      <h2>Hotspot</h2>
      <p>Está na praia ou no campo e não tem rede sem fio? Sem problemas, o serviço Hotspot cuida disso para você. Você consegue criar um ponto de acesso para que todos possam compartilhar conteúdos entre si e para o seu HUB.</p>
      <p><br><br></p>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-md-2 col-sm-12 text-center"><img src="/static/svg/sync.svg" height="300" width="90%">
      <h2>Sync</h2>
      <p>Sincronize quantos arquivos quiser, do tamanho e jeito que achar melhor. Com o serviço Sync, você pode compartilhar arquivos entre o seu HUB, tablet, smartphone e qualquer outro dispositivo com a tecnologia BitTorrent Sync.</p>
      <p><br><br></p>
    </div>
  </div>
  <p><br></p>
</div>

{% endblock %}
