{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Computador Pessoal </h1>
      <p>Para a computação pessoal, a Efforia desenvolveu o Cartão EMC Compute, que possibilita os nanocomputadores funcionarem como computadores para uso geral, sejam eles computadores de mesa (desktops) ou terminais remotos (thin clients). Assim, você tem uma solução completa para o seu escritório ou casa, com suíte de produtividade (processador de texto, criador de apresentações e editor de planilhas), navegador de Internet e explorador de arquivos, com sistema Plug n Play para qualquer dispositivo removível (pendrive, disco rígido externo e cartão de memória) e periféricos. É só plugar no seu nanocomputador e pronto! Você já sai utilizando os mais diversos acessórios e opções de armazenamento.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/monitorback.svg" height="400" width="90%">
      <h2>Solução customizada para o computador em sua casa</h2>
      <p>A Efforia disponibiliza para você uma solução de encapsulamento diferenciado para o seu nanocomputador. O case com acoplamento padrão VESA é perfeito para conectar os nanocomputadores na traseira do monitor, tornando a conexão do vídeo fácil e prática pela sua proximidade. Acabe com o desembaraço de fios de vez de seu computador comum e troque já por um nanocomputador com o Compute! Você economiza seu espaço e ainda de quebra ganha uma solução All-in-one.</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/nanocomputers.svg" height="400" width="90%">
      <h2>Solução perfeita para o parque de computadores de sua empresa</h2>
      <p>Com a capacidade de rodar os nanocomputadores com o Compute como thin clients, ou terminais remotos, a Efforia dispõe para você empresário uma solução de alto desempenho e baixo custo de manutenção e atualização a partir da instalação de uma solução de terminais compostos por nossos nanocomputadores interligados a um computador servidor de alta potência, todos equipados com a tecnologia exclusiva EOS desenvolvida para o Efforia. Contate-nos para saber mais sobre a nossa solução para equipar todo o seu escritório com o que há de mais moderno para computação pessoal.</p>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
