{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;">
      <h1 id="title" style="text-align:center;"> Suporte </h1>
      <p>A Efforia Nanocomputadores tem um compromisso sério: desde o pedido, passando pela produção até a entrega e pós-venda de todos os nossos produtos, serviços e projetos, estamos sempre presentes para melhor lhe atender. E pensando nisso que temos esta seção de suporte, preparada especialmente para você, cliente da nossa empresa. Aqui apresentamos nossos principais canais de atendimento, formas de ajuda por meio de documentação, e os serviços exclusivos que dispomos para quem possui nossos nanocomputadores.</p>
    </div>
  </div>
  <p><br><br></p>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Canais de atendimento</h2>
      <p><br><br></p>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/whatsapp.svg" style="background: #6EC497; padding: 15px; border-radius: 5px;" height="75" width="75">
        <h3>WhatsApp</h3>
        <p>+555198485888</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/skype.svg" style="background: #3398CC; padding: 15px; border-radius: 5px;" height="75" width="75">
        <h3>Skype</h3>
        <p>efforiaca</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/phone.svg" style="background: #F79838; padding: 15px; border-radius: 5px;" height="75" width="75">
        <h3>Telefone</h3>
        <p>(51) 3516-2367</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/facebook.svg" height="75" width="75">
        <h3>Facebook</h3>
        <p>/efforianano</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/twitter.svg" height="75" width="75">
        <h3>Twitter</h3>
        <p>@efforianano</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="/static/svg/email.svg" style="background: #FFCD09; padding: 15px; border-radius: 5px;" height="75" width="75">
        <h3>E-mail</h3>
        <p>oi@efforia.com.br</p>
      </div>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
