{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div id="container" class="container-fluid">
  <p><br><br></p>
  <div class="row">
    <div class="col-md-12 text-center" style="padding: 0px 50px;"><img src="/static/svg/cluster.svg" width="90%">
      <h1 id="title" style="text-align:center;"> Volumes </h1>
      <h2>Preços especiais para compra de nanocomputadores em volume</h2>
      <h3>Para compras em volumes contatar volumes@efforia.com.br</h3>
    </div>
  </div>
  <p><br><br></p><p><br></p>
</div>

{% endblock %}
